body {

    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}


.container{
    width: 100%;
}

.header{
    width: 100%;
    padding: 40px 0;
}

.logo{

    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

img{
    float: inside;
}
.nav{
    width: 100%;
    padding: 10px 0;
    background-color: #808080;
    text-align: center;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
}
.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}
.social{
    width: 100%;
    text-align: center;
    background-color: #292929;
}
.socialdiv{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb{
    width: 250px;
    height: 155px;
    float: left;

}
.fb:hover{
    background-color: #4668b3;
}
.yt{
    width: 250px;
    height: 155px;
    float: left;

}
.yt:hover{
    background-color: #d94348;
}
.tw{
    width: 250px;
    height: 155px;
    float: left;

}
.tw:hover{
    background-color: #6441a5;
}
.am{
    width: 250px;
    height: 155px;
    float: left;

}
.am:hover{
    background-color: #e47911;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer{
    text-align: center;
    background-color: #222222;
    padding: 40px;

}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 100;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px solid #222222;
}

ol > li:first-child
{
    border-left: 1px solid #222222;
}

ol > li:hover
{
    background-color: #a0a0a0;
}

ol > li:hover > a
{
    color: #666666;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li
{
    background-color:#666666;
    position: relative;
    z-index: 100;
    border-top: 1px solid #a0a0a0;
}

ol > li > ul > li:hover
{
    background-color: #a0a0a0;
}

ol > li > ul > li:hover > a
{
    color: #666666;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #C0C0C0;
    padding: 5px;
    overflow:hidden

}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #696969;
    border-radius:30px;
    color: #fff;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
    color:#fff;
}
#btn{
    top: 0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #000000, 	#808080);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #000000, 	#808080);
    border:0;
    outline:none;
    border-radius: 30px;
    color:#fff;
}
.chech-box{
    margin: 30px 10px 30px 0;


}
.span1{
    color: #777;
    font-size: 12px;
    bottom:68px;
    position: absolute;


}
#login{
    left: 50px;
}

#register{
    left: 450px;
}


