
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */